/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional custom overrides */
html,
body,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  background-color: #f8fafc; /* light indigo-gray background */
}

